@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

.header-form-content {
  /* display: inline-block; */
  align-items: left;
  margin-top: 8rem;
}

/* .header-form-content h1 {
  font-size: 3.2rem;
} */

.header-form-content p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

form {
  margin-top: 4rem;
  border-radius: 1.2rem;
  font-size: 1.6rem;
}


.input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input::placeholder,
textarea::placeholder {
  padding: 0.2rem;
}

input .form-button {
  margin-top: 4rem;
  border: 0;
  border-radius: 0.8rem;
  width: 12rem;
  height: 6rem;
  cursor: pointer;
}
