@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--gradient-color);
  color: var(--bright);
}

footer p {
  color: var(--bright);
}

.footer-text {
}

.footer-icons {
  color: white;
}
