@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

header {
  position: sticky;
  background: var(--gradient-color);
}

header h1 {
  color: var(--bright);
}

nav {
  background: var(--bright);
}
